openapi: 3.1.0
info:
  title: Google BeyondCorp AppConnections SecurityGateways API
  description: The BeyondCorp API provides programmatic access to manage zero-trust access controls for enterprise resources. It enables creating and managing app connectors, app connections, client connector services, and security gateways for zero-trust enterprise deployments without requiring a traditional VPN.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/beyondcorp-enterprise/docs
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://beyondcorp.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: SecurityGateways
  description: Operations for managing BeyondCorp security gateways
paths:
  /projects/{projectId}/locations/{location}/securityGateways:
    get:
      operationId: listSecurityGateways
      summary: Google BeyondCorp List security gateways
      description: Lists security gateways in the specified project and location.
      tags:
      - SecurityGateways
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecurityGatewaysResponse'
    post:
      operationId: createSecurityGateway
      summary: Google BeyondCorp Create a security gateway
      description: Creates a new security gateway.
      tags:
      - SecurityGateways
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityGateway'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    SecurityGateway:
      type: object
      description: A BeyondCorp security gateway resource.
      properties:
        name:
          type: string
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
        displayName:
          type: string
        state:
          type: string
          enum:
          - STATE_UNSPECIFIED
          - CREATING
          - UPDATING
          - DELETING
          - RUNNING
          - DOWN
    ListSecurityGatewaysResponse:
      type: object
      properties:
        securityGateways:
          type: array
          items:
            $ref: '#/components/schemas/SecurityGateway'
        nextPageToken:
          type: string
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud resources
externalDocs:
  description: BeyondCorp API Documentation
  url: https://cloud.google.com/beyondcorp-enterprise/docs/reference/rest
